= form_for @inquiry do |f|
  - if @inquiry.errors.any?
    #error_explanation
      %h2= "#{pluralize(@inquiry.errors.count, "error")} prohibited this inquiry from being saved:"
      %ul
        - @inquiry.errors.full_messages.each do |msg|
          %li= msg

  .form-outline.mb-4
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-outline.mb-4
    = f.label :content
    = f.text_area :content, class: 'form-control'
  .actions
    = f.submit '保存', class: 'btn btn-primary btn-block'
