%h1 問い合わせ一覧

.row
  %table.table
    %thead
      %tr
        %th 名前
        %th 内容
        %th
        %th
        %th

    %tbody
      - @inquiries.each do |inquiry|
        %tr
          %td= inquiry.name
          %td= inquiry.content
          %td= link_to '表示', inquiry_path(inquiry)
          %td= link_to '編集', edit_inquiry_path(inquiry)
          %td= link_to '削除', inquiry_path(inquiry), data: { turbo_method: :delete, turbo_confirm: '削除してよろしいですか？' }

  = link_to '問い合わせ作成ページ', new_inquiry_path
